@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
            "sidebar header"
            "sidebar main";
    overflow: auto;
}
.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 10px;
    padding: 10%;
    height: 100%;
    background-color: #fca5a5;
    color: black;
    overflow: auto;
}
.mid {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.bottom{
    display: flex;
    gap: 20px;
    flex-direction: column;
}


.header {
    background-color: #fef2f2;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header-row1"
        "header-row2";
    padding: 1.5%;
    gap: 15px;
}

.header-row1 {
    grid-area: header-row1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "row-1-col-1 row-1-col-2";
}

.header-row2 {
    grid-area: header-row2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "row-2-col-1 row-2-col-2";
}

.header-row1 .col-1 {
    grid-area: row-1-col-1;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    /* justify-content: stretch; */
    justify-items: stretch;
}

.search-icon {
    justify-self: end;
    background-image: url(./imagesIcons/magnify.svg);
    padding: 10px;

}


.header-row1 .col-2 {
    grid-area: row-1-col-2;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    justify-content: end;
    gap: 25px;
    padding: 1%
}

.header-row2 .col-1 {
    grid-area: row-2-col-1;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header-row2 .col-2 {
    grid-area: row-2-col-2;
    display: grid;
    grid-auto-flow: column;
    justify-items: space-evenly;
    align-items: center;
    justify-content: end;
    gap: 25px;
    padding: 1%
}

button {
    background-color: #fca5a5;
    border-radius: 50px;
    padding: 9px 28px;
    font-weight: bold;
    border: none;
    color: black;
}

h1,h2 {
    margin: 0;
    padding: 0;
}

.search-bar {
    border-radius: 15px;
    height: 28px;
    background-color: #fee2e2;
    border: 1px solid white;
    margin-left: 10px;
}
.bell-icon{
    background-image: url(./imagesIcons/bell-ring-outline.svg);
    padding: 10px;
}
img{
    width: 50px;
}
.pp-small{
    width: 40px;
    height: 40px;
}
.pp-big{
    width: 75px;
    height: 75px;
}
.h1-logo{
    background-image: url(./imagesIcons/view-dashboard.svg);
    background-size:contain;
    padding: 10px;
    background-repeat: no-repeat;
}
/*side bar icons*/
.home-icon{
    background-image: url(./imagesIcons/home.svg);
    background-size:contain; 
    padding: 11px;
    background-repeat: no-repeat;
}
.profile-icon{
    background-image: url(./imagesIcons/account-box-outline.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.messages-icon{
    background-image: url(./imagesIcons/message-reply.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.history-icon{
    background-image: url(./imagesIcons/clock.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.tasks-icon{
    background-image: url(./imagesIcons/file-multiple.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.communities-icon{
    background-image: url(./imagesIcons/account-group.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.settings-icon{
    background-image: url(./imagesIcons/cog.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.support-icon{
    background-image: url(./imagesIcons/help-box.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.privacy-icon{
    background-image: url(./imagesIcons/shield-check.svg);
    background-size:contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.top{
    display: flex;
    align-items: center;
    gap: 20px;
    max-height: 100px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.home{
    display: flex;
    align-items: center;
    gap: 20px;
}
.messages{
    display: flex;
    align-items: center;
    gap: 20px;
}
.history{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tasks{
    display: flex;
    align-items: center;
    gap: 20px;
}
.communities{
    display: flex;
    align-items: center;
    gap: 20px;
}
.settings{
    display: flex;
    align-items: center;
    gap: 20px;
}
.support{
    display: flex;
    align-items: center;
    gap: 20px;
}
.privacy{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* .main-content {
    display: flex;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 15px;
} */
.main-content {
    background-color: #fee2e2;
    grid-area: main;
    /* height: 100%; */
    /* margin: -5px; */
    overflow: auto;
    padding: 30px;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    justify-items: center;
    /* align-items: center; */
    align-content: center;
}
 .main-content::before{
    margin: 0;
    padding: 0;
    font-size: large;
    background-color: #fee2e2;
    /* width:70px;
    height:30px; */
    content: 'Projects';
    font-weight: bold;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
}
 .projects{ 
    display: flex;
    margin-right: 30px;
    gap: 40px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    flex: 1 0 48%;
    margin-top: auto;
    /* align-content: end;  */
    /* align-items: center; */
    align-self: flex-end;
 }
 .project{
    border-left: 20px solid #991b1b;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fef2f2;
    overflow: hidden;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 250px;
}

.right-side{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-right: 40px;
 }
 
.announcements::before{
    content: 'Announcements';
    margin: 0;
    padding: 0;
    font-weight: bold;
    background-color: #fee2e2;
    width:100%;
    height:30px;
}
.announcements{
    background-color: #fef2f2;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}
.announcement-1{
    margin-top: 20px;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px solid silver;
}
.announcement-2{
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px solid silver;
}
.announcement-3{
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 20px;
}
.announcement {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

 .trending::before{
    content: 'Trending';
    margin: 0;
    padding: 0;
    font-weight: bold;
    /*background-color: #fee2e2; */
    
} 
.trending{
    background-color: #fef2f2;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
}
.star{
    background-image: url(./imagesIcons/star-plus-outline.svg);
    background-size: contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.eye{
    background-image: url(./imagesIcons/eye-plus-outline.svg);
    background-size: contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.fork{
    background-image: url(./imagesIcons/source-fork.svg);
    background-size: contain;
    padding: 11px;
    background-repeat: no-repeat;
}
.icon-set{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: end;
}
.trend-image{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.trend{
    max-width: 280px;
    display: flex;
    gap: 10px;
    /* justify-items: center; */
    /* justify-content: center; */

    align-content: center;
    align-items: center;
    /* padding: 20px; */
}
.trend-wrapper{
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}